DB_HOST=db
DB_PORT=5432
DB_USER=postgres
DB_PASS=postgres
DB_NAME=sa
APP_NAME=Event Planner API
APP_DESCRIPTION=API for managing events and users
DEBUG=False
API_VERSION=1.0

POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=sa
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USER=rmuser
RABBITMQ_PASSWORD=rmpassword
